{% extends "layout.html" %}
{% block content %}
    <form action="{{ url_for_security('login') }}" method="POST">
        {{ login_user_form.hidden_tag() }}
        {{ login_user_form.email(placeholder='Email') }}
        {{ login_user_form.password(placeholder='Password') }}
        <button class="btn waves-effect waves-light  purple darken-3">
            Submit
        </button>
    </form>
{% endblock %}