{% extends "layout.html" %}
{% block content %}
    <h1 class="content-head is-center">About CARD Trick</h1>

    <div class="pure-g about">
        <div class="pure-u-1">
            This web page allows searching of the <a href="https://card.mcmaster.ca/">CARD</a> (The Comprehensive Antibiotic Resistance Database) ontology for gene/antibiotic relationships.<br/>
            It uses the relationship <i>confers_resistance_to_drug</i> to pull out the relevant associations using the <a href='https://gitlab.com/cgps/card_trick'>card-trick</a> Python package.<br/>
            <h2>Instructions</h2>
            <ul>
                <li>Type a partial or full gene name into the 'Search for gene' form to search for genes matching the name and antibiotics to which the matched genes confer resistance</li>
                <li>Type a partial or full antibiotic name into the 'Search for antibiotic' form to search for antibiotics matching the name and genes which confer resistance to the matched antibiotic</li>
            </ul>
        </div>
    </div>
{% endblock %}