{% extends "layout.html" %}
{% block content %}

    <div class = 'row'>
        <div class="col s12 m12">
            <h4>Submit a workflow</h4>
        </div>
    </div>
    <form action="{{ url_for('front_page') }}" method="post" class="pure-form"></form>
        <div class = 'row'>
                <div class="col s3 m3">
                    <label for="workflow">Workflow</label>
                    <select id="workflow" name="workflow">
                        <option value="assembly">Assembly</option>
                        <option value="snp_phylogeny">Reference Mapping</option>
                        <option value="abricate">Abricate AMR prediction</option>
                    </select>
                </div>
                <div class="col s7 m7">
                    <label for="data_path">Data Path</label><br>
                    <div id="raw_data_div">
                        <img id="raw_data_path" src="{{ url_for('static', filename = 'images/loading.gif') }}" height="32" width="32">
                    </div>
                    <div id="fasta_data_div">
                        <img id="fasta_data_path" src="{{ url_for('static', filename = 'images/loading.gif') }}" height="32" width="32">
                    </div>
                </div>
                <div class="col s2 m2">
                    <button class="btn waves-effect waves-light  purple darken-3" id="job_submit_button" type="button">
                        Submit
                    </button>
                </div>
        </div>
        <div class = 'row' id="reference_path_div">
            <div class="col s3 m3">

            </div>
            <div class="col s7 m7">
                <label for="reference_path">Reference Path</label><br>
                <img id="reference_path" src="{{ url_for('static', filename = 'images/loading.gif') }}" height="32" width="32">
            </div>
            <div class="col s2 m2">

            </div>
        </div>
        <div class = 'row' id="abricate_database_div">
            <div class="col s3 m3">

            </div>
            <div class="col s7 m7">
                <label for="abricate_database">AMR database</label>
                <select id="abricate_database" name="abricate_database">
                    <option value="card">CARD</option>
                    <option value="resfinder">Resfinder</option>
                    <option value="ncbi">NCBI</option>
                </select>
            </div>
            <div class="col s2 m2">

            </div>
        </div>
    </form> 
    <div class = 'row'>
        <div class="col s12 m12">
            <h4>Previous workflow runs</h4>
            <i id="refresh_workflows_table" class="material-icons">refresh</i>
            <div id='workflows_table'></div>
        </div>
    </div>       
    <script src="{{ url_for('static', filename = 'js/front_page.js') }}"></script>
{% endblock %}
